@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb_Bold.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./Assets/fonts/iransans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./Assets/fonts/iransans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./Assets/fonts/iransans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb_Medium.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./Assets/fonts/iransans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./Assets/fonts/iransans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./Assets/fonts/iransans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb_Light.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./Assets/fonts/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./Assets/fonts/iransans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./Assets/fonts/iransans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb_UltraLight.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./Assets/fonts/iransans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./Assets/fonts/iransans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./Assets/fonts/iransans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./Assets/fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./Assets/fonts/iransans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./Assets/fonts/iransans/ttf/IRANSansWeb.ttf') format('truetype');
}



@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: bold;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./Assets/fonts/iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./Assets/fonts/iransans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./Assets/fonts/iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: 500;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./Assets/fonts/iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./Assets/fonts/iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./Assets/fonts/iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: 300;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./Assets/fonts/iransans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./Assets/fonts/iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./Assets/fonts/iransans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: 200;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./Assets/fonts/iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./Assets/fonts/iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./Assets/fonts/iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: normal;
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum).eot');
	src: url('./Assets/fonts/iransans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./Assets/fonts/iransans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./Assets/fonts/iransans/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./Assets/fonts/iransans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}




*{
  font-family: IRANSans;
  direction: rtl;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
	border: none;
}

body {
  overflow-x: hidden;
}
.color1{
  color: #333;
}
.color2{
  color: #fff;
}
.color3{
  color: rgb(150, 150, 150);
}
.color4{
	color: #0daeab;
}
.bgColor1{
  background-color: #333;
}
.bgColor2{
  background-color: #fff;
}
.bgColor3{
  background-color: #eaeaea;
}
.bgColor4{
	background-color: #0daeab;
}

.colorSilver{
	background-color: #f6f6f6;
}
.container{
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}
.menu{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; 
  padding: 0.5rem;


}
.menuUl{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuUlLi {
  padding: 0px 20px
}

.logoImg{
  width: 60px;
}
.navLink{
	transition: all .3s linear;
}
.navLink:hover{
	color: #0daeab;
	transition: all .3s linear;
}
.active{
	color: #0daeab;
}

/* =============================FORM=============== */


.form{
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 400px;
}

.sendBtn{
    width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    background: #0daeab;
	font-size: 13px;
	font-weight: 400;
    transition: all .3s linear;
	color: #fff;
	margin: 20px;
	margin-bottom: 0px;
}
.sendBtn:hover{
	background-color: #0daeabcc;
	transition: all .3s linear;
}
.sendVerfy{
    display: flex;
    justify-content: center;
	align-items: center;
}
.formTitle{
	margin: auto;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 10px;
	max-width: 300px;
	padding-top: 1rem;
}


/* ==========================input======================= */

.Input {
    width: 100%;
    padding: 5px 0px;
    box-sizing: border-box;
    margin: auto;
}
.InputFile{
	width: 100%;
}
.formInputFile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 5px 0px;
}
.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	border: 1px solid #ccc;
	font: inherit;
	padding: 10px;
	display: block;
	width: 80%;
	margin: auto;
	min-width: 300px;
	border-radius: 4px;
	background-color: whitesmoke;
	height: 50px;
	font-size: 13px;
	font-weight: 400;
	max-width: 80%;
}
*::placeholder{
	color: #0daeab;
}
textarea{
	min-height:150px;
	margin: 10px;
	resize: none;
}
textarea::placeholder{
	color: #0daeab;
}

.InputElement:focus {
	outline: none;
	background-color: #ddd;
}

.Invalid {
	border: 1px solid red;
	background-color: #FDA49A;
}

.fileInput{
	width: 200px;
	background-color: #f5f5f5;
	margin: auto;
	position: relative;
	overflow: hidden;
	text-align: center; 
	line-height:2rem;
	border-radius: 10px;
	font-size: 13px;
	font-weight: 400;
	transition: all .3s linear;
	color: #0daeab;
	padding: 0.5rem;
	border: 2px solid #0daeab;
	cursor: pointer;
	padding: 10px;
	height: 80px;
}
.fileInput:hover{
	background-color: #0daeab;
	transition: all .3s linear;
	color: #fff

}
.fileBox{
	width: 25%;
    float: right;
}

.fileInputٰValid{
	width: 80%;
	background-color: #d9ebd1;
	margin: auto;
	position: relative;
	overflow: hidden;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	font-size: 13px;
	font-weight: 400;
	padding: 0px 10px;
}
.fileInputField{
	color: transparent;
	font-size: 0;
	height: 100px;
	width: 300px;
	position: absolute;
	top: -6px;
	left: 0;
	cursor: pointer;
}
.formDiv{
	position: relative;
	padding: 0px
}
.validationText{
	position: absolute;
	display: flex;
	justify-content: center;
	height: 50px;
	background-color: white;
	align-items: center;
	margin: auto;
	text-align: center;
	min-width: 400px;
	width: 90%;
	color: #ef4343;
	border-radius: 4px;
	font-size: 13px;
	font-weight: 400;
	top: -500px;
	transition: all .3s linear;
}
.validationTextShow{
	position: absolute;
	display: flex;
	justify-content: center;
	height: 50px;
	background-color: white;
	align-items: center;
	margin: auto;
	text-align: center;
	min-width: 400px;
	width: 90%;
	color: #ef4343;
	border-radius: 4px;
	font-size: 13px;
	font-weight: 400;
	top: 0;
	transition: all .3s linear;
}

.svg-inline--fa.fa-w-12 , .svg-inline--fa.fa-w-16{
    margin: 0px 10px;
    width: 30px;
    overflow: visible;
    height: 30px;
}
.myIcon{
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center; 
}
 


/* ======================loading ====================== */
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: fixed;
  border-top: .5em solid #fff;
  border-right: .5em solid #fff;
  border-bottom: .5em solid #fff;
  border-left: .5em solid #0dc5c1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .5s infinite linear;
  animation: load8 .5s infinite linear;
  top: 30%;
  left: 49vw;
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loadingBox{
	width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #4b4b4b67;
	top: 0;
	left: 0;
}
.loadingPercent{
    position: fixed;
    top: 50%;
    left: 48.4vw;
    font-size: 12px;
    padding: 0px 3px;
    color: #077c7a;
    text-align: center;
}
.errorText{
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	top: 40%; 
	align-self: center;
	justify-content: center;
	margin: auto;
	text-align: center;
    font-size: 14px;
    color: #333;
	background-color: #EC7063;
	padding: 2rem 2rem;
	width: 50%;
	border-radius: 10px;
	border: 3px solid #E74C3C;
	animation: error 1s linear;
}
.successClass{
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	top: 40%; 
	align-self: center;
	justify-content: center;
	margin: auto;
	text-align: center;
	padding: 2rem 2rem;
    top: 40%; 
    font-size: 14px;
	color: #fff;
	width: 50%;
	border-radius: 10px;
	border: 3px solid #1D8348;
	background-color: #28B463;
	animation: error 1s linear;
}
.verfyClass{
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	top: 40%; 
	align-self: center;
	justify-content: center;
	margin: auto;
	text-align: center;
	padding: 2rem 2rem;
    top: 40%; 
    font-size: 14px;
	color: #fff;
	width: 50%;
	border-radius: 10px;
	border: 3px solid rgb(39, 102, 173);
	background-color: rgb(65, 146, 238);
	animation: error 1s linear;
}
.verfyInput{
    border: 1px solid #ccc;
    height: 50px;
    border-radius: 5px;
    padding: 0px 10px;
	background-color: whitesmoke;
	margin-top: 20px;
}
.verfyInput:focus{
	background-color: #ddd;
}
.hidden{
	display: none;
}
@keyframes error {
	0% {
		opacity: 0
	}
	100%{
		opacity:1
	}
}
.myb{
	border: 1px solid red;
}
/* ================footer ================ */


.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%; 
	text-align: center;
	height: 2rem;
}

.blueBorder{
	border: 1px solid;
	border-color: #077c7a;
}








.dataSelect{
	margin-top: 30px;
}
.dataBox{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
	border-radius: 5px;
	font-size: 12px;
}
.titleBox{
	display: flex;
}
.dataLabel{
	font-size: 13px;
	font-weight: 400;
	margin-left: 10px;
	min-width: 90px;
}
.dataBtn{
    width: 80px;
    text-align: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
	font-size: 13px;
	font-weight: 400;
    transition: all .3s linear;
	color: #fff;
	margin: 20px 0px 0px 20px;
}
.dataText{
	max-width: 80%;
    overflow: hidden;
}
.dataBtnBox{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.editBtn{
    background: #0d80ae;
    transition: all .3s linear;
}
.deleteBtn{
    background: #c70707;
    transition: all .3s linear;
}
.editBtn:hover{
    background: #0d80aed2;
    transition: all .3s linear;
}
.deleteBtn:hover{
	background: #c70707d0;
    transition: all .3s linear;
}

.fa-w-16.closeIcon{
	position: absolute;
    top: -3px;
    right: 4px;
    margin: 0;
	width: 20px;
	cursor: pointer;
}

/* ========================== CONFIRM window  */

body.react-confirm-alert-body-element {
	overflow: hidden;
  }
  
  .react-confirm-alert-blur {
	filter: url(#gaussian-blur);
	filter: blur(2px);
	-webkit-filter: blur(2px);
  }
  
  .react-confirm-alert-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
    background-color: #4b4b4b67;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	opacity: 0;
	-webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	-moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	-o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  }
  
  .react-confirm-alert-body {
    width: 400px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 14px 0px rgba(0, 0, 0, 0.08);
    color: #666;
    text-align: center;
  }
  
  .react-confirm-alert-svg {
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .react-confirm-alert-body > h1 {
	margin-top: 0;
  }
  
  .react-confirm-alert-body > h3 {
	margin: 0;
	font-size: 16px;
  }
  
  .react-confirm-alert-button-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	display: flex;
	justify-content: center;
  }
  
  .react-confirm-alert-button-group > button {
	outline: none;
	background: #333;
	border: none;
	display: inline-block;
	padding: 6px 18px;
	color: #eee;
	margin: 10px;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
	width: 80px;
	transition: all .2s linear;
  }
  .react-confirm-alert-button-group > button:hover{
	  background-color: #555;
	transition: all .2s linear;

  }
  @-webkit-keyframes react-confirm-alert-fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  @-moz-keyframes react-confirm-alert-fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  @-o-keyframes react-confirm-alert-fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  @keyframes react-confirm-alert-fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

/* =======================ٍEDIT page ====================================================== */

.editPage{
	position: fixed;
	top: -1000px;
	transition: all .2s linear;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background-color: #4b4b4b67;
}
.editPageDown{
	position: fixed;
	top: 0;
	transition: all .2s linear;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background-color: #4b4b4b67;
}

.editPageInput{
	display: flex;
	flex-direction: row;

	height: auto;
	align-items: center;
}
.fileInputEdit{
	margin: unset;
}
.play{
	padding-right: 30px;
	text-decoration: none;
	color: #0daeab
}
.verfyFix{
	top: calc(50% - 25px);
    position: fixed;
    left: calc(50% - 100px);
}
.verfyInput{
	width: 200px;
}
.margin20{
	margin: 20px auto;
}
@media only screen and (max-width: 800px) {

	.formInputFile{
		flex-direction: column;
	}
	.fileInput{
		width: 100%;
		margin: 5px 0px;
	}
	.sendBtn{
		width: 80%;
	}
	.loader{
		left: 44vw;
	}
	.loadingPercent{
		left: 42.4vw;
	}
	.sendVerfy{
		flex-direction: column-reverse;
	}
	.verfyInput{
		width: 80%;
		text-align: center;
	}
	.editPageInput{
		flex-direction: column;
	}
	.play{
		padding: 30px 0px;
	}
}

@media only screen and (max-width: 400px) {
	.sendBtn , 	.verfyInput{
		width: 90%;
	}
	.InputElement{
		min-width: unset;
		max-width: unset;
		width: 90%;
	}
	.formInputFile{
		width: 90%;
	}
	.loader{
		left: 41vw;
	}
	.loadingPercent{
		left: 39.4vw;
	}





}